---
import { getCollection } from 'astro:content';

const activities = await getCollection('activities');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mandarin Homeschool Activities</title>
	</head>
	<body>
		<h1>Mandarin Homeschool Activities</h1>
o		<ul>
			{activities.map((activity) => (
				<li>
					<a href={`/activities/${activity.slug}`}>
						{activity.data.title}
					</a>
				</li>
			))}
		</ul>
	</body>
</html>
